/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-mybg: 255, 255, 255;
        --color-mycontent: 55, 65, 81;
        --color-mycontenthover: 17, 24, 39;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-mybg: 30, 41, 59;
        --color-mycontent: 209, 213, 219;
        --color-mycontenthover: 243, 244, 246;
    }
}